body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}


.admin-table {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: grey;
  color:black;
}

td a {
  color: #FF6F61;
  text-decoration: none;
}

/* Buttons */
.button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
background-color: rgb(231, 204, 100);
color: Black;
}


.button:hover {
  opacity: 0.9;
}
